<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-6">
    <div class="container-fluid" style="padding-left:0px;">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{errorMessage}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success">
        {{successMsg}}
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3"><strong>First Name : </strong></div>
          <div class="col-md-7">
            <input type="text" class="form-control underlined" name="firstName" id="taskName" [(ngModel)]="user.firstName" required >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3"><strong>Last Name : </strong></div>
          <div class="col-md-7">
            <input type="text" class="form-control underlined" name="lastName" id="taskName" [(ngModel)]="user.lastName" required >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3"><strong>Employee ID : </strong></div>
          <div class="col-md-7">
            <input type="text" class="form-control underlined" name="empId" id="empId" [(ngModel)]="user.empId" required >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button mat-button class="btn btn-secondary float-right" (click)="add()" *ngIf="user.id == 0 ">Add</button>
            <button mat-button class="btn btn-secondary float-right" (click)="update()" *ngIf="user.id != 0 ">Update</button>
          </div>
          <div class="col-md-2">
            <button mat-button class="btn btn-secondary float-right" (click)="reset()" >Reset</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control underlined" placeholder="search..." name="search" id="search" [(ngModel)] = "search">
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              Sort:
            </div>
            <div class="col-md-4">
              <button mat-button class="btn btn-secondary   float-right"  (click)="sort('firstName')" >First Name</button>
            </div>
            <div class="col-md-4">
              <button mat-button class="btn btn-secondary  float-right" (click)="sort('lastName')" >Last Name</button>
            </div>
            <div class="col-md-2">
              <button mat-button class="btn btn-secondary  float-right" (click)="sort('empId')" >Id</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <hr style="border-top: dotted 3px;" />
        </div>
      </div>

      <div class="container-fluid" *ngFor="let user of users | filter:search " style="padding:0px;">

        <div class="row mt-3" style="padding:0px;">
          <div class="col-md-8" style='background-color: #fafafa;'>{{user.firstName}}</div>
          <div class="col-md-2">
            <button mat-button class="btn btn-secondary float-right" (click)="edit(user)">Edit</button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-8" style='background-color: #fafafa;'>{{user.lastName}}</div>
          <div class="col-md-2">
            <button mat-button class="btn btn-secondary float-right" (click)="delete(user)">Delete</button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-8" style='background-color: #fafafa;'>{{user.empId}}</div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <hr style="border-top: dotted 3px;" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
  </div>