<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-6">
        <div class="row">
            <header class="header">
              <h2>{{title}}</h2>
            </header>
          </div>
          <div class="row">
            <div class="nav">
              <ul>
                <li class="project"><a routerLink="project" style="padding:8px 30px 8px 0px;" routerLinkActive="router-link-active">Add
                    Project</a></li>
                <li class="AddTask"><a routerLink="addTask" style="padding:8px 30px 8px 0px;" routerLinkActive="router-link-active">Add
                    Task</a></li>
                <li class="user"><a routerLink="user" style="padding:8px 30px 8px 0px;" routerLinkActive="router-link-active">Add
                    User</a></li>
                <li class="ViewTask"><a routerLink="viewTask" routerLinkActive="router-link-active">View Task</a></li>
              </ul>
            </div>
          </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>


<div class="row">&nbsp;</div>